<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <springProfile name="console-logging">
    <include resource="logback-console.xml" />
  </springProfile>
  <springProfile name="file-logging">
    <include resource="logback-file.xml" />
  </springProfile>
</configuration>